


.container1{
  
  display: table;
    width: 100%; 
    height: 100%;

    background: #f2f2f6;
    padding: 0 20px;
  border: 1px solid #666;
  border-radius: 20px;
  box-shadow: 7px 7px 15px #592A08; ;
}
.titulo1{
  display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    background-color: rgb(109, 109, 108);
    color: white;
    border-radius: 5px;
    
}
#titulazo{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}
#guardarboton{
  background: #1d88df;
  width: 100%;
  border-radius: 5px;
  color: white;
}








/*Footer*/

.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #403f46;
  }
  .footer .col {
    width: 500px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 20px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #ffffff;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
    line-height: 25px;
  }
  
  .footer .col ul li:hover {
    color: #746e6e;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1000px;
      height: 300px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }

  #h33 { color: #181818; 
    -webkit-text-stroke: .05px rgb(255, 255, 255);;
  }