#contenido{
    width: 75%;
    margin: 0 auto;
    padding: 0 20px;
    background: #f3f3f3;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    box-shadow: 0px 10px 10px black;
}

#foto{
    display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.imagenred{
    width:300px;
    height:300px;
    border-radius:150px;
}
#datos{
    width: 60%;
    margin: 0 auto;
}
#th1{
    border: 2px solid black;
    width: 1000px;
    height: 90px;
    border-radius: 10px;
    text-align: left;

    
}

#footer {
    bottom: 0;
 }
 .list-group-item{
    height: 50px;
}
