:root {
    --dark: #16181c;
    --dark-x: #1e2126;
    --light: #ffffff;
}

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: var(--light)!important;
}

.bg-dark {
    background-color: var(--dark);
}

.bg-dark-x {
    background-color: var(--dark-x)!important;
    color: #ffffff !important;
}

.form-control,
.btn {
    min-height: 3.125rem;
    line-height: initial;
}

.img-1 {
    background-image: url('/adjuntos/arti3.jpeg');
    background-size: cover;
    background-position: center;
}

.img-2 {
    background-image: url('/adjuntos/arti2.jpeg');
    background-size: cover;
    background-position: center;
}

.img-3 {
    background-image: url('/adjuntos/arti1.jpeg');
    background-size: cover;
    background-position: center;
}